aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
async-timeout==5.0.1
attrs==25.3.0
boto3==1.40.0
botocore==1.40.0
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.1.8
frozenlist==1.7.0
gitdb==4.0.12
GitPython==3.1.45
idna==3.10
jmespath==1.0.1
marshmallow==4.0.0
multidict==6.6.3
openttd-helpers==1.4.0
openttd-protocol==1.7.1
packaging==25.0
prometheus_client==0.22.1
propcache==0.3.2
python-dateutil==2.9.0.post0
PyYAML==6.0.2
s3transfer==0.13.1
sentry-sdk==2.34.1
six==1.17.0
smmap==5.0.2
urllib3==1.26.20
yarl==1.20.1
